@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  width: 100%;
  background-color: #f7f5fa;
  /* font-family: 'Poppins', sans-serif; */
}

::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}

.alist{
  @apply relative text-font-black font-medium text-xl transition-transform duration-200 hover:after:scale-x-100 after:absolute after:bottom-[-0.1em] after:h-[0.1em] after:w-full after:left-0 after:bg-font-black after:transition-transform after:duration-200 after:ease-in-out after:scale-x-0;
}

.button1{
  @apply text-black font-medium text-lg py-3 px-6 rounded-lg text-white bg-purple transition-all duration-200 hover:bg-[#e2d2fa] hover:text-purple;
}

.button2{
  @apply bg-purple border-none text-white font-medium text-lg py-3 px-6 text-base rounded-lg transition-opacity duration-200 hover:opacity-80 active:opacity-70;
}